/* Переменные */
$exo: 'Exo2', Helvetica, Arial, sans-serif;
$roboto: 'Roboto', Helvetica, Arial, sans-serif;

$purple: #30309d;
$light-purple: #e4e7fb;
$purple-opacity:#30309d;
/*$purple: #3030d1;*/
$deeppurple: #30309d;
$red: #f32b1c;
$red-hover: #e62f22;
$green: #0bd812;
$grey: #3e4552;
$text: 14px;

@custom-media --large (width >= 1600px);
@custom-media --medium (width <= 1200px);
@custom-media --tablet (width <= 960px);
@custom-media --phone (width <= 718px);
