.socials {
  width: 47px;
  margin-top: -9px;
  margin-left: -111px;
  display: inline-flex;
  padding-left: 0;

  li {
    display: inline-table;
    background-color: #82b3d3;
    width: 46px;
    height: 28px;
    padding: 12px 0 7px 0;
    margin: 10px 3px;
  }
}